{% extends 'base.html.twig' %}

{% block content %}
    {% include 'inc/nav.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Formulaire des expositions</h1>
                {{ form_start(form, { attr : { novalidate: 'novalidate' } }) }}
                <p>
                    {{ form_label(form.location, 'Location: ') }}
                    {{ form_widget(form.location) }}
                </p>
                <p>
                    {{ form_label(form.date, 'Date: ') }}
                    {{ form_widget(form.date) }}
                </p>
                <p>
                    {{ form_label(form.description, 'Description: ') }}
                    {{ form_widget(form.description) }}
                </p>
                <p>
                    <input type="submit" value="Valider" class="btn btn-primary">
                </p>
                {{ form_end(form) }}
            </div>
        </div>


    </div>
    {% include 'inc/footer.html.twig' %}
{% endblock %}