<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Symfony projet{% endblock %}</title>
{#        {% block stylesheets %}{% endblock %}#}
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>
        {% block content %}{% endblock %}
{#        {% block javascripts %}{% endblock %}#}
        {{ encore_entry_script_tags('app') }}
    </body>
</html>
