{% extends 'base.html.twig' %}

{% block content %}
    {% include 'inc/nav.html.twig' %}
<div class="container">
    <div class="row">
        <h2>Dernières réalisations</h2>
    </div>
    <div class="row">

        {% for result in results %}
            <div class="card" style="width: 18rem;">
                <img src="{{ asset('img/oeuvre/' ~ result.image) }}" class="img-fluid" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{ result.name }}</h5>
                    <p class="card-text">{{ result.description| truncate(5, true) }}</p>
                    <a href="{{ url('oeuvres.detail', { slug: result.slug }) }}" class="btn btn-primary">Consulter</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

    {% include 'inc/footer.html.twig' %}
{% endblock %}