<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse text-right" id="navbarTogglerDemo01">
        <p class="text-right">Tito Salgado, 2019, tout droits réservés <a href="{{ url('legal.index') }}">Mentions légales</a></p>
    </div>
</nav>