<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="{{ url('homepage.index') }}">Tito Salgado</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active offset-7">
                <a class="nav-link" href="{{ url('oeuvres.index') }}">Oeuvres</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('exposition.index') }}">Expositions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('contact.form') }}">Contact</a>
            </li>
        </ul>
    </div>
</nav>